@model Model.salary_standardModel
@{
    ViewBag.Title = "salarystandard_change";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
    <script type="text/javascript" src="../../javascript/comm/comm.js"></script>
    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
    <script src="~/Content/jquery.unobtrusive-ajax.js"></script>

    <script src="~/javascript/json.js"></script>
    <script src="~/javascript/vue.js"></script>
    <title>无标题文档</title>
</head>
<body>

    @using (Ajax.BeginForm("BianGengqie", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "TR" }))
    {
        <table width="100%">
            <tr>
                <td>
                    <font color="black">
                        您正在做的业务是：人力资源--薪酬标准管理--薪酬标准变更
                    </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="通过变更" onclick="check()" class="BUTTON_STYLE1">
                    <input type="reset" value="返 回" class="BUTTON_STYLE1">
                </td>
            </tr>
        </table>
        <table id="stable" width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td width="74" class="TD_STYLE1">
                    薪酬标准编号
                </td>
                <td width="168" class="TD_STYLE2">
                    @Html.EditorFor(model => model.standard_id, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanName", @readonly = "readonly" } })

                </td>
                <td width="83" class="TD_STYLE1">
                    薪酬标准名称
                </td>
                <td width="171" class="TD_STYLE2">

                    @Html.EditorFor(model => model.standard_name, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "standardName" } })
                </td>
                <td width="170" class="TD_STYLE1">
                    薪酬总额
                </td>
                <td width="138" class="TD_STYLE2">

                    @Html.EditorFor(model => model.salary_sum, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "sumSalary", @readonly = "readonly", @value = "0.0" } })
                </td>
                <td width="103" class="TD_STYLE1">
                    &nbsp;
                </td>
                <td width="95" height="26" class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    制定人
                </td>
                <td class="TD_STYLE2">

                    @Html.EditorFor(model => model.designer, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "designer" } })
                </td>
                <td class="TD_STYLE1">
                    变更人
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.changer, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })
                </td>
                <td class="TD_STYLE1">
                    变更时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="change_time"
                           id="Tdate" readonly="readonly"
                           class="INPUT_STYLE2">
                </td>


                @*<td class="TD_STYLE1">
                    变更时间
                </td>
                <td class="TD_STYLE2">
                    @Html.EditorFor(model => model.change_time, new { htmlAttributes = new { @class = "INPUT_STYLE2", @readonly = "readonly" } })

                </td>*@
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    备注
                </td>
                <td colspan="7" class="TD_STYLE2">

                    @Html.TextAreaFor(model => model.remark, new { htmlAttributes = new { @class = "TEXTAREA_STYLE1", @rows = "4" } })
                </td>
            </tr>
            <tr class="TD_STYLE1">
                <td align="center">
                    序号
                </td>
                <td colspan="3">
                    薪酬项目名称
                </td>
                <td>
                    金额
                </td>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>

        </table>

    }

    <script type="text/javascript">
		function check(){

				var designer=document.getElementById("designer");
				var standardName=document.getElementById("standardName");
				if(designer.value.length<=0){
				alert("制定人不可为空!!!");
						return ;
				}
				if(standardName.value.length<=0){
				alert("薪酬标准名称不可为空!!!");
					return ;
				}
			document.forms[0].submit();
		}
		function countMoney(obj,o) {

		    if (isNaN(document.getElementById("sumSalary").value) || document.getElementById("sumSalary").value < 0) {
		alert("金额填写错误!");
		document.getElementById("sumSalary").value = "0.00";
		return;
	}
		var sum=0;
	 	for(var i=1;i<=obj;i++){
	 		var salary=document.getElementById("salary"+i).value;
	 		if(salary==""){
	 		salary="0.00";
	 		}
	 		sum=Number(sum)+Number(salary);

	 }
	 document.getElementById("sumSalary").value=sum;

}
		function time(){
 					var tdate=document.getElementById("Tdate");
 					var d=new Date();
 					var y=d.getFullYear();
 					var moth=d.getMonth()+1;
 					var date=d.getDate();
 					var h=d.getHours();
 					var m=d.getMinutes();
 					var s=d.getSeconds();
					var hh=20-1-h;
					var mm=60-1-m;
					var ss=60-s;
					if(hh>0){
							mm=mm+60*hh;
					}
 					if(moth<10){
 							moth="0"+moth;
 					}
 					if(date<10){
 							date="0"+date;
 					}
 					if(h<10){
 							h="0"+h;
 					}
 					if(m<10){
 							m="0"+m;
 					}
 					if(s<10){
 							s="0"+s;
 					}
 					if(mm<10){
 							mm="0"+mm;
 					}
 					if(ss<10){
 							ss="0"+ss;
 					}

 					tdate.value=y+"-"+moth+"-"+date+" "+h+":"+m+":"+s;

 				}
 				window.onload=time;
 				var out = window.setInterval(time, 1000);
 				$(function () {
 				    $.ajax({
 				        url: "/salary_standard/ChagagunBian",
 				        type: "post",
 				        data: "",
 				        success: function (msg) {
 				            var dd = eval("(" + msg + ")");
 				            console.info(msg);
 				            for (var i = 0; i < dd.length; i++) {
 				                var ta = $("<tbody></tbody>");
 				                var tr = $("<tr class='TD_STYLE2'></tr>");
 				                var td = $("<td align='center'>" + dd[i].item_id + "</td>");
 				                var td1 = $(" <td colspan='3'>" + dd[i].item_name + "</td>");
 				                var td2 = $('<td> <input type="text" id="salary' + (i + 1) + '" value=' + dd[i].salary + ' name="details[' + (i) + '].salary" onkeyup="countMoney(' + (i + 1) + ',' + "salary" + (i + 1) + "" + ')" class="INPUT_STYLE2"></td>')
 				                var td3=$('<td colspan="3"> &nbsp;</td>')
 				                tr.append(td);
 				                tr.append(td1);
 				                tr.append(td2);
 				                ta.append(tr);
 				                $("#stable").append(ta);
 				            }

 				        }
 				    })
 				})
 				$(function () {
 				    $("#changer").val(localStorage.getItem('a'));
 				})
    </script>
</body>
</html>



