@model Model.engage_resumeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>resumedetails</title>
    <link rel="stylesheet"
          href="../../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/list.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/locate.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/select.js">
    </script>
    <script src="~/javascript/jquery-1.10.2.js"></script>
    <script src="~/DatePicker/WdatePicker.js"></script>
</head>
<body>
    <div>
        <form name="humanfileForm" method="post" action="/engage_resume/resumedetails" id="form">

            <table width="100%">
                <tr>
                    <td>
                        <font color="black">
                            您正在做的业务是：人力资源--招聘管理--简历管理--简历筛选--简历筛选编辑
                        </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="button" value="推荐" class="BUTTON_STYLE1" onclick="return search()">
                        <input type="button" value="返回" class="BUTTON_STYLE1" onclick="fh()">
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(model => model.Id)
            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr>
                    <td class="TD_STYLE1">
                        职位分类
                    </td>
                    <td class="TD_STYLE2">

                        @*<select name="engageResume.humanMajorKindId">
                            <option value="02">
                                &#36719;&#20214;&#24320;&#21457;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_major_kind_name", @ViewBag.dt as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_major_kind_name" })
                    </td>
                    <td class="TD_STYLE1">
                        职位名称
                    </td>
                    <td class="TD_STYLE2" width="20%">
                        @*<select name="engageResume.majorId">
                            <option value="02">
                                &#31243;&#24207;&#21592;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_major_name", @ViewBag.dt1 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_major_name" })


                    </td>
                    <td width="11%" class="TD_STYLE1">
                        招聘类型
                    </td>
                    <td class="TD_STYLE2" colspan="2">
                        @*<select name="engageResume.engageType" class="SELECT_STYLE1">
                            <option value="&#26657;&#22253;&#25307;&#32856;">
                                &#26657;&#22253;&#25307;&#32856;
                            </option>
                        </select>*@
                        @Html.DropDownList("engage_type", @ViewBag.dt2 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "engage_type" })


                    </td>
                    <td rowspan="6">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        姓名
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text"
                               value="&#24352;&#39122;"
                               name="engageResume.humanName" class="INPUT_STYLE2" />*@
                        @Html.EditorFor(model => model.human_name, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "name" } })


                    </td>
                    <td class="TD_STYLE1">
                        性别
                    </td>
                    <td class="TD_STYLE2">
                        @*<select name="engageResume.humanSex" class="SELECT_STYLE1">
                            <option value="&#30007;">
                                &#30007;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_sex", @ViewBag.dt3 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_sex" })


                    </td>
                    <td class="TD_STYLE1">
                        EMAIL
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanEmail"
                               value=""
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_email, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "email" } })


                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        电话
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanTelephone"
                               value="84802802"
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_telephone, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "phone" } })


                    </td>
                    <td class="TD_STYLE1">
                        家庭电话
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanHomephone"
                               value="84802888"
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_homephone, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanHomephone" } })


                    </td>
                    <td class="TD_STYLE1">
                        手机
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanMobilephone"
                               value="13523322345"
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_mobilephone, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanMobilephone" } })


                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        住址
                    </td>
                    <td colspan="3" class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanAddress"
                               value="&#28246;&#21335;&#38271;&#27801;"
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_address, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanAddress" } })


                    </td>

                    <td class="TD_STYLE1">
                        邮编
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanPostcode"
                               value="410000"
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_postcode, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanPostcode" } })


                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1">
                        国籍
                    </td>
                    <td class="TD_STYLE2">
                        @*<select name="engageResume.humanNationality" class="SELECT_STYLE1">
                            <option value="&#20013;&#22269;">
                                &#20013;&#22269;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_nationality", @ViewBag.dt4 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_nationality" })


                    </td>
                    <td class="TD_STYLE1">
                        出生地
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanBirthplace"
                               value=""
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_birthplace, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanBirthplace" } })


                    </td>
                    <td class="TD_STYLE1">
                        生日
                    </td>
                    <td width="13%" colspan="2" class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanBirthday"
                               value="1992-02-02 12:00:00"
                               class="INPUT_STYLE2" id="date_start">*@

                        @Html.EditorFor(model => model.human_birthday, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "Text2" } })


                    </td>

                </tr>
                <tr>
                    <td width="11%" class="TD_STYLE1">
                        民族
                    </td>
                    <td class="TD_STYLE2" width="14%">
                        @*<select name="engageResume.humanRace" class="SELECT_STYLE1">
                            <option value="&#27721;&#26063;">
                                &#27721;&#26063;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_race", @ViewBag.dt5 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_race" })


                    </td>
                    <td class="TD_STYLE1">
                        宗教信仰
                    </td>
                    <td class="TD_STYLE2">
                        @*<select name="engageResume.humanReligion" class="SELECT_STYLE1">
                            <option value="&#26080;">
                                &#26080;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_religion", @ViewBag.dt6 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_religion" })


                    </td>
                    <td class="TD_STYLE1">
                        政治面貌
                    </td>
                    <td class="TD_STYLE2" colspan="2">
                        @*<select name="engageResume.humanParty" class="SELECT_STYLE1">
                            <option value=""></option>
                        </select>*@
                        @Html.DropDownList("human_party", @ViewBag.dt7 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_party" })


                    </td>


                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        身份证号码
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanIdcard"
                               value="430121199202022323"
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_idcard, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanIdcard" } })


                    </td>
                    <td class="TD_STYLE1">
                        年龄
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanAge"
                               value="20"
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.human_age, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanAge" } })


                    </td>
                    <td class="TD_STYLE1">
                        毕业院校
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.humanCollege"
                               value="&#38271;&#27801;&#29702;&#24037;"
                               class="INPUT_STYLE2" />*@
                        @Html.EditorFor(model => model.human_college, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "humanCollege" } })


                    </td>

                    <td class="TD_STYLE1">
                        学历
                    </td>
                    <td class="TD_STYLE2">
                        @*<select name="engageResume.humanEducatedDegree"
                                class="SELECT_STYLE1">
                            <option value="&#22823;&#19987;">
                                &#22823;&#19987;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_educated_degree", @ViewBag.dt8 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_educated_degree" })


                    </td>

                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        教育年限
                    </td>
                    <td class="TD_STYLE2">
                        @*<select name="engageResume.humanEducatedYears"
                                class="SELECT_STYLE1">
                            <option value="12">
                                12
                            </option>
                        </select>*@
                        @Html.DropDownList("human_educated_years", @ViewBag.dt9 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_educated_years" })


                    </td>
                    <td class="TD_STYLE1">
                        学历专业
                    </td>
                    <td class="TD_STYLE2">
                        @*<select name="engageResume.humanEducatedMajor"
                                class="SELECT_STYLE1">
                            <option value="&#35745;&#31639;&#26426;">
                                &#35745;&#31639;&#26426;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_educated_major", @ViewBag.dt10 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_educated_major" })


                    </td>

                    <td class="TD_STYLE1">
                        薪酬要求
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.demandSalaryStandard"
                               value="6000.0"
                               class="INPUT_STYLE2" />*@
                        @Html.EditorFor(model => model.demand_salary_standard, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "demandSalaryStandard" } })


                    </td>
                    <td class="TD_STYLE1">
                        注册时间
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="hidden" value="12-11-25 13:50:30.000" name="engageResume.registTime">
                        2012-11-25 01:50:30*@
                        @Html.EditorFor(model => model.regist_time, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "regist_time", @readonly = true } })


                    </td>

                </tr>
                <tr>

                    <td class="TD_STYLE1">
                        特长
                    </td>
                    <td class="TD_STYLE2">
                        @*<select name="engageResume.humanSpecility" class="SELECT_STYLE1">
                            <option value="java">
                                java
                            </option>
                        </select>*@
                        @Html.DropDownList("human_specility", @ViewBag.dt11 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_specility" })


                    </td>
                    <td class="TD_STYLE1">
                        爱好
                    </td>
                    <td class="TD_STYLE2">
                        @*<select name="engageResume.humanHobby" class="SELECT_STYLE1">
                            <option value="&#31726;&#29699;">
                                &#31726;&#29699;
                            </option>
                        </select>*@
                        @Html.DropDownList("human_hobby", @ViewBag.dt12 as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "human_hobby" })


                    </td>
                    <td class="TD_STYLE1">
                        推荐人
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.passChecker"
                               value="zhangsan"
                               class="INPUT_STYLE2" />*@
                        @Html.DropDownListFor(model => model.checker, @ViewBag.dl as IEnumerable<SelectListItem>, new { @class = "SELECT_STYLE1", @id = "register" })
                    </td>
                    <td class="TD_STYLE1">
                        推荐时间
                    </td>
                    <td class="TD_STYLE2">
                        @*<input type="text" name="engageResume.passCheckTime"
                               id="nowTime" readonly="readonly"
                               class="INPUT_STYLE2">*@
                        @Html.EditorFor(model => model.check_time, new { htmlAttributes = new { @class = "INPUT_STYLE2", @id = "nowTime", @readonly = true } })


                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        个人履历
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        @*<textarea name="engageResume.humanHistoryRecords" rows="4" readonly="readonly"
                                  class="TEXTAREA_STYLE1">
                            &#20010;&#20154;&#23653;&#21382;
                        </textarea>*@
                        @Html.TextAreaFor(model => model.human_history_records, new { @class = "TEXTAREA_STYLE1", @id = "human_history_records", @rows = "4", @readonly = true })


                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1">
                        备注
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        @*<textarea name="engageResume.remark" rows="4" readonly="readonly"
                                  class="TEXTAREA_STYLE1">
                            &#22791;&#27880;
                        </textarea>*@
                        @Html.TextAreaFor(model => model.remark, new { @class = "TEXTAREA_STYLE1", @id = "remark", @rows = "4", @readonly = true })


                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        推荐意见
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        @*<textarea name="engageResume.recomandation" rows="4"
                                  class="TEXTAREA_STYLE1"></textarea>*@
                        @Html.TextAreaFor(model => model.recomandation, new { @class = "TEXTAREA_STYLE1", @id = "recomandation", @rows = "4"})
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/javascript/vue.js"></script>
<script type="text/javascript">
 			window.onload=check;
		function tick() {
			var now = new Date();
			var hours, minutes, seconds, noon;
			var intHours, intMinutes, intSeconds;
			intHours = now.getHours();
			intMinutes = now.getMinutes();
			intSeconds = now.getSeconds();
			if (intHours < 24) {
				hours = intHours+":";
				noon = "A.M.";
			} else {
				intHours = intHours - 24;
				hours = intHours + ":";
				noon = "P.M.";
			}
			if (intMinutes < 10) {
				minutes = "0"+intMinutes+":";
			} else {
				minutes = intMinutes+":";
			}
			if (intSeconds < 10) {
				seconds = "0"+intSeconds+" ";
			} else {
				seconds = intSeconds+" ";
			}
			timeString = hours+minutes+seconds;
			var now = new Date();
		  	document.getElementById("nowTime").value=now.getFullYear()+"-"+(now.getMonth()+1)+"-"+now.getDate()+" "+timeString;
			window.setTimeout("tick();", 1000);
		}

		//load事件
		function check(){
			//获得系统当前时间的方法
		  	tick();
		}
</script>
<script type="text/javascript">
    $(document).on("focus", "#Text2", function () {
        WdatePicker({ onpicking: function (dp) { if (dp.cal.getDateStr() != dp.cal.getNewDateStr()) { Func(dp.cal.getNewDateStr()) } } });
        function Func(tim) {
            var v1 = tim;
            var sDate = new Date(tim);
            var ff = sDate.getFullYear();
            var myDate = new Date;
            var year = myDate.getFullYear();
            var total = (year - ff);
            $("#humanAge").val(total);

        }
    })
    $(document).on("change", "#humanIdcard", function () {
        var humanIdcard = $("#humanIdcard").val();
        var nf = humanIdcard.slice(6, 10);
        var yf = humanIdcard.slice(10, 12);
        var rf = humanIdcard.slice(12, 14);
        var sj = nf + "-" + yf + "-" + rf;
        $("#Text2").val(sj);
        var sDate = new Date();
        var ff = sDate.getFullYear();
        var nl = ff - nf;
        $("#humanAge").val(nl);
    })
    function fh() {
        window.location.href = "/engage_resume/resumelist";
    }
 		function search(){
 		    if(document.getElementById("name").value==""){
 		        alert("请填写姓名");
 		        return false;
 		    }
 		    if(document.getElementById("phone").value==""){
 		        alert("请填写电话");
 		        return false;
 		    }else if(isNaN(document.getElementById("phone").value)){
 		        alert("电话号码请填写数字");
 		        return false;
 		    }
 		    if (document.getElementById("humanIdcard").value == "") {
 		        alert("请填写身份证号码");
 		        return false;
 		    }
 		    var humanIdcard = $("#humanIdcard").val();
 		    var nf = humanIdcard.slice(6, 10);
 		    var sDate = new Date();
 		    var ff = sDate.getFullYear();
 		    var nl = ff - nf;
 		    if ($("#humanAge").val() != nl) {
 		        alert("年龄和身份证上的不符合，请重新填写");
 		        return false;
 		    }
 		    var v = $("#humanIdcard").val();
 		    if (v.length<18) {
 		        alert("身份证号码不正确");
 		        return false;
 		    }
 		    if (document.getElementById("email").value != "") {
 		        var email=document.getElementById("email").value;
 		        if(email.indexOf(".")<=-1 || email.indexOf("@{@Html.Raw("@")}")<=-1){
 		            alert("Email格式不匹配，如：123.com");
 		            return false;
 		        }
 		    }
 		    if (document.getElementById("email").value == "") {
 		        alert("请填写Email");
 		        return false;
 		    }
 		    if (document.getElementById("humanHomephone").value != "") {
 		        if (isNaN(document.getElementById("humanHomephone").value)) {
 		            alert("家庭电话请填写数字");
 		            return false;
 		        }
 		    }
 		    if (document.getElementById("humanHomephone").value == "") {
 		        alert("请填写家庭电话");
 		        return false;
 		    }
 		    if (document.getElementById("humanMobilephone").value != "") {
 		        if (isNaN(document.getElementById("humanMobilephone").value)) {
 		            alert("手机请填写数字");
 		            return false;
 		        }
 		    }
 		    if ($("#humanPostcode").length>10) {
 		        alert("邮编长度不能超过10位");
 		        return false;
 		    }
 		    if ($("#humanPostcode").val() =="") {
 		        alert("请填写邮编");
 		        return false;
 		    }
 		    if (document.getElementById("humanMobilephone").value == "") {
 		        alert("请填写手机");
 		        return false;
 		    }
 		    if (document.getElementById("humanAge").value != "") {
 		        if (isNaN(document.getElementById("humanAge").value)) {
 		            alert("年龄请填写数字");
 		            return false;
 		        }
 		    }
 		    if (document.getElementById("humanAge").value == "")
 		    {
 		        alert("请填写年龄");
 		        return false;
 		    }
 		    $.ajax({
 		        url: "/engage_resume/resumedetails",
                type:"post",
                data:$("#form").serialize(),
                success: function (msg) {
                    if (msg > 0) {
                        alert("推荐成功");
                        window.location.href = "/engage_resume/resumelist";
                    } else {
                        alert("推荐失败");
                        window.location.href = "/engage_resume/resumelist";
                    }
                }
 		    })
 		}
</script>